/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@800&family=Merriweather:wght@300;700;900&family=Poppins:wght@500&display=swap');
/* top players style */
/* common styles or uttilities */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container{
    background: white;
    width: 870px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 40px;
    margin-top: 20px;
    border-radius: 10px;
}
.top-players{
    padding-bottom: 25px;
    
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 10px;
    font: 10px;
    text-transform: capitalize;
}
.section-title{
    color: #562eff;
    font-size: 24;
    margin-left: 5px;
    
}
hr{
    border: 1px solid rgba(29, 29, 194, 0.363);
    }
/*------------------------------------------------
          TOP BLOGS STYlES 
---------------------------------------------------*/
 .blogs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     row-gap: 20px;
 }
.blog{
     display: flex;
 }
 .blog-title{
     font-size: 20px;
 }
 .blog-author{
     color: rgb(196, 191, 191);
     font-size: 16px;
     position: relative;
     bottom: 5px;
 }
 .blog-author a{
     font-size: 16px;
    text-decoration: none;
    color: #8126f7;
 }
 .blog-info{
     margin-left: 14px;
     width:170px;
     height: 100px;
     position: relative;
     bottom: 18px;
 }
.thumbanial img{
    width: 177px;
    height: 117px;
}

/* --------------Courses Styles -------------
---------------------------------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-detail{
    height:104px;
    width: 224px;
    position: relative;
    bottom:20px;
    left: 2px;
}
.course-info p{
    color: rgba(236, 75, 12, 0.842);
    font-size: 12px;
    position: relative;
    bottom: 15px;
    left: 2px;

}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: orange;
    
.fa-star.empty{
    color:rgba(128, 128, 128, 0.733);
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    color: rgb(196, 191, 191);
}
course-duration{
    background: rgba(238, 13, 13, 0.418);
    padding: 10px;
    border-radius: 10px;
    color: rgb(201, 5, 5);
    
}
